@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Raleway:ital,wght@0,100;1,100&family=Seymour+One&display=swap');


.purple-bg {
    background-color: rgb(106, 58, 236);
}

.white-bg {
    background-color: white;
    position: relative;
}

.container-fluid{
    padding: 7% 15%;
}

#title .container-fluid{
    padding: 4% 15% 8%;
}

.slogan {
    padding-top: 15%;
    color: white;
    font-family: 'Seymour One', sans-serif;
    font-size: 45px;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    left: 50%;
    padding-top: 3%;
}


/* Navigation Bar */
  
.navbar-brand {
    font-family: 'Seymour One', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
  
.nav-item {
    margin-right: 800px;
    padding: 25%;
}
  
.nav-link {
    font-size: 14px;
    font-family: 'Seymour One', sans-serif;
}


#features {
    position: relative;
    text-align: center;
    padding: 3% 15%;
}

.feature-icon {
    color: rgb(106, 58, 236);
    margin-bottom: 30px;
    font-size: 70px;
}

.feature-title {
    font-family: 'Seymour One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.feature-text {
    font-family: 'Comfortaa', cursive;
    line-height: 1.5;
}

.carousel-item{
    text-align: center;
}

.testimonial-icon-left{
    color:white;
    font-size: 50px;
    margin-left: 180px;
    margin-top: 100px;
   
}

.testimonial-text {
    font-size: 28px;
    line-height: 1.5;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
  }

.testimonial-location {
    color: white;
    font-family: "Raleway";
    font-size: 22px;
    margin-left: 1%;
}

.testimonial-image {
    width: 12%;
    border-radius: 100%;
    margin: 20px, 20px, 20px, 0;
}

#press{
    text-align: center;
}
  
.press-logo {
    width: 8%;
    max-height: 200px;
    margin: 0px 20px 50px;
    
}

#pricing {
    padding: 70px;
    text-align: center;
}

.plan-title {
    font-size: 48px;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
}

.plan-type{
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
}

.plan-text {
    font-size: 25px;
    font-style: italic;
}

.price {
    line-height: 1.5;
    font-size: 48px;
}
  
.pricing-column {
    padding: 5% 3%;
}

.plan-details{
    font-size: 20px;
}

#cta .container-fluid{
    text-align: center;
    padding: 5%
}

.cta-msg1 {
    font-size: 38px;
    color: white;
    font-family: 'Seymour One', sans-serif;
    text-align: center;
}

.cta-msg2 {
    font-size: 26px;
    color: white;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 300px;
    text-align: center;
}

.socials span+span{
    padding-left: 5%;
}

.socials {
    font-size: 30px;
    text-align: center;
    padding-bottom: 2%;
}

#copyright {
    text-align: center;
    padding-bottom: 2%;
}

@media (max-width: 1028px) {
    .title-image{
        transform: rotate(0);
        position: static;
        width: 60%;
        margin: 0 25%;
    }

    .slogan{
        text-align: center;
    }

    .plan-details {
        font-size: 25px;
    }
 
    .cta-msg1{
        text-align: center;
    }

    .cta-msg2{
        text-align: center;
    }

    .top-buttons{
        text-align: center;
    }

}
